.parent{
display: flex;
flex-direction: row;
flex-wrap: wrap ;
}

.parent div{
    background-color: orange;
    padding: .5rem;
  /*  width: 30px;
    height: 30px;*/
    border: 2px solid black;
}

.item{
    flex-basis: 25%;
}

.item-1{
    order: 2;
}
.item-2{
    order: 2;
}
.item-3{
    order: 2;
}
.item-4{
    order: 2;
}
.item-5{
    order: 1;
}
.item-6{
    order: -2;
}
.item-7{
    order: -3;
}
.item-8{
    order: -4;
}