body{
    background-color: antiquewhite;
}
header{
    background-color: aqua;
}
main{
    background-color: bisque;
}
aside{
    background-color: blueviolet;
}
footer{
    background-color: beige;
}