.card{
   
        transition: 0.4s;
        cursor: pointer;
        border-radius: 0;
        height: 7rem;
        margin: 4rem auto;
        width: 0;
        box-shadow: 0rem 3rem 2rem 1rem #E91E63, -6rem -2rem 4rem 3rem aquamarine;
    

}